* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
 background-size: 100% 100%;
 min-height: 100vh;
}


nav {
display: flex;
float: left;
width: 100%;
padding: 0.6rem;
align-items:center;
justify-content: flex-start; 
gap: 5vw;
height: 12.5vh;
}



.nav1 {
  background-color: rgba(255, 0, 0);
  border: 5px solid black;
}

nav img {
  width: 10vw;
  height: 10vh;
  max-width: 70px;
  max-height: 70px;

}

nav li:hover{
  background-color: #0000005c;
}

.nav2 {
  background-color: rgb(170, 0, 255);
  border: 5px solid black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.RollDice {
  align-content: center;

}

.rectangle1 {
background-color:#ff0000;
height:30%;
width:100%;
}

.container {
  text-align: center;
}

@font-face {
  font-family: 'Jersey25';
  src: url(fonts/Jersey25-Regular.ttf) format('truetype');
  font-weight: auto;
}

.button1 {
  background-color:#ff0000;
  height:20vh;
  width:70vw;
  max-width: 600px;
  color:#000000;
  text-align:center;
  line-height: auto;
  border: 7px solid black;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  }


.buttontext {
  font-size: 10vw;
  max-width: 500px;
  font-family: 'Jersey25';
  position: relative;

}

.diceContainer {
  position: relative;
  display: inline-block;
  width: 50vw;
  height: 20vh;
  margin-top: 20px;
}

#diceResult {
  font-size: 5vw;
  font-family: 'Jersey25';
  color: #ff0000;
  text-shadow: 2px 2px 2px #000000;   
}

.Diceimg {
  width: 40vw;
  height: 40vh;
  margin-top: 10px;
  object-fit: contain;
}


.todo-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  
}
.todo-title {
  font-size: 5vw;
  font-family: 'Jersey25';
  color: #c78cf4;
  text-shadow: 3px 3px 3px #000000; 
  text-align: center;
}

.todo-button {
  font-family: 'Jersey25';
  font-size: 5vh;
  color: #c78cf4;
  background-color: black;
  width:5vw;
  height:5vh;
  border: 0.2vw solid #c78cf4;
}


#inputField {
  font-family: 'Jersey25' ;
  width: 20vw;
  height: 5vh;
  border-width: 0;
  color:#c78cf4;
  background-color: #000;
  border: 0.2vw solid #c78cf4;
  outline: none;
  font-size: 4vh;
  vertical-align: middle;
}

.to-dos {
  font-family: 'Jersey25' ;
  color: #c78cf4;
  font-size: 3vw;
  margin-top: 25px;
  text-shadow: 3px 3px 3px #000000; 
}


.creditYT {
  position: absolute;
  bottom: 1vh;       
  left: 50%;        
  transform: translateX(-50%);
  text-align: center;
  font-family: 'Jersey25';
  font-size: 2.5vw;
  text-decoration: none;
}


.responsive-image {
  display: none; /* Hide by default */
}

/*holy moly*/
@media screen and (max-width:768px){
  body { 
    background-image: url("https://64.media.tumblr.com/f8cc0270992004f39a1a9ae13e145074/cc92213cc1174d1a-b4/s1280x1920/aa8620418e48e93b36d6a54737cda1235d4d420a.gif");
    
  }
  .responsive-image {
    display: block; /* Show the image when media requirements are met */
    width: 100%; /* Optional: Make the image responsive */
    max-width: 100%; /* Prevent it from exceeding the screen width */
    height: auto; /* Maintain aspect ratio */}
}

p {
  display: block;
}