nav {
  display: flex;
  float: left;
  width: 100%;
  padding: 0.6rem;
  align-items:center;
  background-color: rgba(255, 0, 0);
}

nav img {
  width: 15%;
  height: 50%;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}